
body{
  font-family: 'Montserrat', sans-serif;
}
#title{
  background-color:#F0E9D2
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.5;

}
h2{
  font-size: 3rem;

}
h3{
  font-size: 2rem;
  font-weight: bold;
}
.container-fluid{
  padding: 15px 7%
}
p{
  color: #8f8f8f

}
/* headings */
.big_heading{
  font-family: 'Montserrat', sans-serif;
  font-size:3rem;
  line-height: 1.5;
}
/* navigation bar */
.navbar{
  margin-bottom: 4rem;
}
.navbar-brand{
  font-size: 3rem;
  font-family: monospace;

}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
}
.download-button{
margin: 5% 3% 0% 0%;
}
#features{
  padding: 7% 15%;

}
.icon{
  margin-bottom: 1rem;
  color: #AD8E70;

}
.icon:hover{
  color:#F0E9D2;
}
.feature-box{
  padding: 5%;
}
#testimonials
{
  text-align:center;
  padding-top:10%;
  background-color:#F0E9D2

}
.test-img{
  border-radius: 100%;
  margin:20px;
  width:10%;
}
#press{
  background-color: #F0E9D2;
  text-align: center;
  padding-bottom: 3%;

}
.press-logo{
  width:10%;
  margin:20px 20px 50px;
}
.corousel-item{
    padding:7% 15%;
}
.courses{
  padding: 100px 0px;
}
.card{
  background-color: #F0E9D2;

}
@media (max-width:996px) {
#title{
  text-align: center;
}
.lang_image{
  width:80%;
  padding-top: 10px
}
}
#cta{
  text-align: center;
  padding-top: 100px;
  background-color: #F0E9D2;
padding-bottom: 100px;
}
#footer{
  text-align: center;
padding-top: 50px;

}
.footer-link{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}
.tribute{
  text-align: center;
  padding: 100px;
  background-color:#F0E9D2;
}
.alan{

  border-radius: 100%;
  transform: rotate(-90deg);
  width: 7%;
}
.tribute-heading{
  padding-bottom: 50px;
}
